@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Broken+Fax&family=Workbench&display=swap');

:root {
  min-width: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --full-viewport-height: 100vh;
}

* {
  min-height: 0;
  min-width: 0;
}

body{
  max-height: var(--full-viewport-height);
}